<!doctype html>
<html lang="zh">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>课程添加</title>
</head>
<body>
    <p>
        <a href="/">返回主页</a>
    </p>
    <div>
        <form action="/add_course" method="post">
            <p>
                课程名称: <input name="cname" type="text">
            </p>
            <p>
                <button type="submit">添加课程</button>
            </p>
        </form>
    </div>
</body>
</html>